<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestsForJulia">
    <listeners>
        <listener class-name="resources.Listeners"></listener>
        <listener class-name="resources.ExtentReporterNG"></listener>
    </listeners>
    <test thread-count="5" name="FirstTest">
        <classes>
            <class name="practise.ApiDemosTest"/>
            <class name="practise.EcommerceTest"/>
        </classes>
    </test>
</suite>